/*'Open Sans', sans-serif;*/
/*font-family: 'Bitter', serif;*/

html *{
    margin:0px;
    padding:0px;

}


 

/*inicio*/
 
.bodyinicio {
    background-color: rgb(255, 229 , 33);
    background-image: url("https://crisescobar.files.wordpress.com/2018/06/imageninicio1.jpg");
    background-repeat: no-repeat;
    display: flex;
    min-height:100vh;
    float: right;
    width: 45%;

}
 
#formulario {
    margin:auto;
    width: 300px;
    max-width:500px;
    background: #F3F3F3;
    padding:30px;
    border: 1px solid (rgba(0,0,0.2));

}

h2 {
    text-align:center;
    margin-bottom:20px;
    color: black;

}
 
#usuario, #contraseña, #entrar {
    display:block;
    padding:10px;
    width:80%;
    margin:20px 0;
    font-size: 15px;

}
 
#entrar {
    background: black;
    color:white;
    cursor: pointer;

}
 
.entrar:hover {
    background: rgb(51, 51, 51);

}
 
.entrar:active {
    transform: scale(0.95);

}
 
 
/* head */
   
.header{
    margin-right:0%;
    background-color: rgb(255, 229 , 33);
    padding-top: 2%;
    padding-left: 1%;
    padding-right:0%;
    padding-bottom: 2%;
}
.logo {                   
    width:18%;
    padding-left: 1%;
    
}

.block-header {
    padding-left: 61.5%;
}

.profilePhoto {
    width:30px;
    border-radius:20px;
    
    
}


.sub-block {
    display:inline-block;
}

.block-header, logo, profilePhoto {
    display: inline;
    font-family: 'Bitter', serif;
    font-weight:700;
    font-size: 85%;

    
}
.line2 {
    display:block;
    font-family: 'Bitter', serif;
    font-weight: 400;
    background-color: rgb(255, 204, 0);
  
    
    
}
  
/* menu lateral */

.lateral-menu{
     position:fixed;
     width:65px;
     height:100%;
     background-color:black;
     overflow:hidden;
     -webkit-transition:width 0.5s cubic-bezier(.61,.01,.37,1);
     color:#bcbcbc;
     font-family: 'Bitter', serif;
     font-weight:700;
     text-decoration:none;
     
     
}

.lateral-menu:hover{
     width:170px;
     
}

.icon1-menu{
     width:30px;
     height:30px;
     margin:10px;
     background-image:url(https://crisescobar.files.wordpress.com/2018/06/menu.png);
     cursor: pointer;
}

#container-icons{
     margin-top:70px;
     
}

.menu-option{
     margin-top:20px;
     margin-left:10px;
     width:130px;
     height:40px;
     display:block;
     
 }
 
.menu-option:hover{
     background: #494b4b;
     
}
 
 
.logo1{
     width:20px;
     height:20px;
     background-image: url(https://crisescobar.files.wordpress.com/2018/06/book-icon-1461-e1528947899267.png);
     float: left;
     size: 100%;
     margin-left: 6px;
     margin-top: 10px;
    
 }
 
 .logo2{
    width:30px;
    height:30px;
    background-image: url(https://crisescobar.files.wordpress.com/2018/06/person-e1528946694339.png);
    float: left;
    size: 100%;
    text-decoration:none;
 }

 .title-menu{
    
    margin-left:60px;
    line-height: 40px;
    text-decoration:none;
    color: rgb(255, 229 , 33);
    
 }
 
 /*body*/


 #seccion-alumnas, #seccion-general {
    width:90%;
    float:left;
    color: black;
    position:absolute;
    left:13%; 
  
    
 }
 .title-alumnas, .title-general{  /*palabra general*/  /*palabra alumnas*/
     padding-top: 1%;
     padding-left: 2%;
     font-size: 25px;
     color:white;
     font-family: 'Bitter', serif;
     font-weight:700;
 }

 .featured-photo-1{  /*alumnas imagen*/
    margin: 1% 0% 0% 0%;
    height: 120px;    
    background-image: url(https://crisescobar.files.wordpress.com/2018/06/hackathon-1-prueba1-e1529960874489.jpg);
    width: 87%;
    background-repeat: no-repeat;
    opacity:0.8;
}

.featured-photo-2{ /*general imagen*/
    margin: 10px;
    height: 100px;    
    background-image: url(https://crisescobar.files.wordpress.com/2018/06/hackathon-1-prueba1-e1529960874489.jpg);
    width: 87%;
    background-repeat: no-repeat;
    opacity:0.8;
  
 }
 

 .nombre {
    color: black;
 }
 
 #eligeuncohort {
    margin: 1%;
    color: rgb(0, 0, 0);
 }

 #seccion-general{
    display: none;
 }
 
  
 
 /*tabla*/

 a {
    text-decoration:none;
}

tr {                                                      /*texto de la tabla centrado*/
    text-align: center;  
}
 
#nombrestabla {                                           /*nombres de las alumnas a la izquierda*/
    text-align: left;     
    
}

.select1, .select2 {             
    color: black;                                           /*color del selector*/
    margin: 2%;   
    margin-left: 0.5%;                                         /*posicion del selector en la web*/
    border-radius: 10px;
    font-family: 'Bitter', serif;
    
}
 
th {                                                      /*apartados de la tabla*/ 
    font-size: 15px;    
    width: 40%;
    font-weight: normal;    
    padding: 0.5%;    
    background: rgb(86, 248, 154);
    border-top: 4px, solid, rgb(242, 217, 30);   
    border-bottom: 5px solid #fff; 
    padding-right: 30px;
    padding-left: 30px;
    
    font-family: 'Bitter', serif;
     font-weight:700;
}

.listado {                                               /*posicion de la tabla en la web*/ 
    margin-left: 1%;
    
}
td {   
    
    padding: 8px;    
    background: rgb(240, 240, 240);  
    border-bottom: 1px solid rgb(216, 216, 216);
    color: rgb(42, 42, 43);  
    border-top: 1px solid transparent;
    font-family: 'Open Sans', serif; 
}

tr:hover td {
    background: rgb(228, 225, 225); 
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.scroll {
    overflow: scroll;
    width: 88%;
    height:330px;
}

/* GENERAL */

.general-block1, .general-block2, .general-block3{
    float: left;
    width: 20%;
    background:rgb(243, 243, 243);
    padding: 20px;
    text-align: center;
    height: 200px;
    display:inline;
    font-family: 'Bitter', serif;
    color:black;   
    font-weight: 800;
}
    .general-block1 {
    margin-left: 1%;
    }

    .general-block2{
     margin-left: 8%;   
     
    }
    
    .general-block3{ 
    margin-left: 9%;       
    }

    
    .block1-info, .block2-info, .block3-info {
        font-family: 'Bitter', serif;
        font-weight: 800;
        font-size: 250%;
        
    }
 
    .block1-info {
        color:rgb(242, 217, 30); 
    }
    
    .block2-info {
    color:rgb(86, 248, 154);
    }

    .block3-info {
        color:fuchsia;
        }
    
  