* {
  margin: 0px;
  padding: 0px;
  font-family: 'Bitter', serif;
  box-sizing: border-box;
}

/* Principal Header */

.header {
  background-color: #ffe521;
  text-align: center;
}

.logo {
  max-width: 90vw;
  margin-top: 0.8rem;
}

.block-header {
  font-weight: 600;
}

.block-header {
  display: flex;
  font-size: 0.9em;
  align-items: center;
  padding: 0 0 1rem 1rem;
}

.profile-photo {
  width: 50px;
  border-radius: 100%;
}

.sub-block {
  text-align: left;
  margin-left: 0.5rem;
}

/*nav horizontal*/

.lateral-menu {
  background-color: #000000;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
}

.menu-option {
  text-decoration: none;
  opacity: 0.7;
  color: #ffffff;
  font-size: 1em;
  padding: 1rem;
}

.menu-option:focus-within, .active {
  /* background-color: #585858; */
  opacity: 1;
}

.hidden {
  display: none;
}

/* General */

.title-general {
  font-size: 3em;
  color: #ff009e;
  margin-bottom: 1rem;
}

.photo-general {
  max-width: 70vw;
  padding: 1rem;
}

.text-align {
  text-align: center;
}

.info-general {
  font-size: 1em;
  margin: 1rem 0;
  padding: 0 2rem;
}

.flex-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-general {
  margin: 0.5rem;
  padding: 1.5rem;
  font-size: 1.15em;
  font-weight: bold;
  background-color: #e0e0e0;
}

.block {
  display: block;
}

.block-icon {
  margin-top: 1rem;
  color: #ffe521;
  font-size: 4em;
}

/* Students */

/* Header students */

.section-content {
  margin: 1rem 0;
  color: black;
}

.title-content {
  font-size: 2em;
}

.featured-photo {
  /* image students */
  background-color: #56f89a;
  padding: 1.2rem 0.5rem;
  margin-bottom: 1rem;
}

/* Form students */

.form-cohort {
  padding: 0 1rem;
}

.select-content {
  font-size: 1em;
  padding: 0.5rem;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.border-select {
  border: 1px solid #a9a9a9;
  border-radius: 0.6rem;
}

.icon-select {
  font-size: 1.2em;
  margin: auto auto auto 0.5rem;
}

.space-select {
  margin-bottom: 1rem;
  /* display: block; */
  width: 100%;
}

.spaced-inputs {
  display: inline-flex;
}

.select-group {
  display: flex;
  align-items: stretch;
}

.space-select-icon {
  border-radius: 0.6rem;
  flex: 1 1 0%;
  min-width: 0;
}

.remove-selection:focus, .focus-custom:focus-within {
  outline: none;
}

.focus-custom:focus-within {
  border-color: #56f89a;
  -moz-box-shadow: 0 0 8px #56f89a;
  box-shadow: 0 0 8px #56f89a;
}

/*  Table students */

.flip-scroll .control-scroll:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  border-collapse: collapse;
}

.flip-scroll table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
}

.flip-scroll th, .flip-scroll td {
  margin: 0;
  vertical-align: bottom;
}

.flip-scroll thead {
  display: block;
  float: left;
}

.flip-scroll tbody {
  display: block;
  position: relative;
  background-color: #f0f0f0;
  overflow-x: auto;
  white-space: nowrap;
}

.flip-scroll thead tr {
  display: block;
}

.flip-scroll tbody tr {
  display: inline-block;
  vertical-align: top;
}

.flip-scroll td, .flip-scroll th {
  display: block;
  min-height: 3em;
  text-align: right;
}

.flip-scroll th {
  display: block;
  text-align: left;
  background-color: #56f89a;
  font-weight: 700;
}

.flip-scroll th:last-child, .flip-scroll td:last-child {
  border-bottom: 1px solid #ddd;
}

.table-space {
  margin: 0 1rem;
  border-radius: 0.6rem;
}

.table-space td, .table-space th {
  padding: 0.75rem;
  font-size: 1em;
}

.table-bordered {
  border-radius: 0.6rem;
  border: 1px solid #ddd;
}

.table-bordered thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #fff;
}

.table-bordered td, .table-bordered th {
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.table-bordered thead th:first-child {
  border-radius: 0.6rem 0 0;
}

.table-bordered thead th:last-child {
  border-radius: 0 0 0 0.6rem;
}

.table-bordered tbody {
  border-radius: 0 0.6rem 0.6rem 0;
}

@media screen and (min-width: 720px) {
  /* Principal Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .logo {
    margin: 0;
  }
  .block-header {
    padding: 0;
    justify-content: flex-end;
    right: 0;
  }
  .sub-block {
    display: inline;
  }
  /* Nav Vertical */
  .lateral-menu {
    top: 0;
    flex-direction: column;
    height: 100%;
    width: 160px;
    margin-top: 96px;
    justify-content: flex-start;
    position: fixed;
  }
  .menu-option {
    padding: 1.2rem;
    font-size: 1.2em;
  }
  .section-content {
    margin-top: 96px;
    margin-left: 160px;
    /* position: relative; */
  }
  .content-space {
    padding-top: 1rem;
  }
  /* General */
  .title-general {
    font-size: 4em;
  }
  .photo-general {
    max-width: 50vw;
  }
  .info-general {
    font-size: 1.2em;
  }
  .flex-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .block-general {
    margin: 1rem;
  }
  /* Students */
  .featured-photo {
    background-image: url('./img/alumnas2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    padding: 2.5rem 1rem;
    margin: 0rem 1rem 1rem;
    box-shadow: inset 0px 0px 0px 200px #0000005e;
  }
  .form-cohort {
    display: flex;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 1rem;
  }
  .space-select {
    width: auto;
    margin-left: 1rem;
  }
  /* Table students */
  .flip-scroll {
    max-height: 350px;
    overflow-y: auto;
  }
  .flip-scroll table {
    width: 100%;
    display: table;
  }
  .flip-scroll th, .flip-scroll td {
    margin: 0;
    vertical-align: bottom;
  }
  .flip-scroll thead {
    display: table-header-group;
    float: none;
  }
  .flip-scroll tbody {
    display: table-row-group;
  }
  .flip-scroll thead tr {
    display: table-row;
  }
  .table-bordered thead th {
    position: sticky;
    top: 0;
    vertical-align: middle;
    border-bottom: 1px solid #dee2e6;
  }
  .flip-scroll tbody tr {
    display: table-row;
    vertical-align: middle;
  }
  .flip-scroll td, .flip-scroll th {
    display: table-cell;
    text-align: right;
  }
  .flip-scroll th:last-child, .flip-scroll td:last-child {
    border-radius: 0;
  }
  .table-bordered thead th:last-child {
    border-radius: 0;
  }
}